<div class="footer__container">
  <div class="footer">
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">
              Havok bot for Discord is your all in one Moderation and
              Entertainment Bot! From Economy, Memes, Levlling and Moderation
              Havok has everything you could ever need! Manage your Server
              effortlessly with Havok along with having loads of fun! You can
              customize the bot to your liking and manage it and your server
              from a web dashboard! We have tons of commands and to get
              started,<a href="/invite"> Invite Havok Now</a>! Upvote us on top.gg and
              discordbotlist.com to gain access to some cool features and get a
              cool role in our official support server! Need Help? Experiencing
              some difficulties? <a href="/invite/server"> Join Our Support server</a>
            </p>
          </div>
          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="#">Manage Server</a></li>
              <li><a href="#">All Commmands</a></li>
              <li><a href="#">Economy Commmands</a></li>
              <li><a href="#">Server Commands</a></li>
              <li><a href="#">Moderation Commands</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Contribute</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr />
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">
              Copyright © 2020 All Rights Reserved by<a href="#"> Havok</a>.
            </p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li>
                <a class="facebook" href="#"
                  ><i class="fab fa-google" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a class="twitter" href="#"
                  ><i class="fab fa-github" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a class="linkedin" href="/invite/server"
                  ><i class="fab fa-discord" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
