<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">COBALT</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/features" aria-current="page">Features</a>
        </li>
      </ul>
      <span class="navbar-text">
        <% if (user.data && user.data.avatar !== null) { %>
          <img src='<%= user.data.avatar %> ' style="width:38px; height:38px; border-radius:50%; border:2px solid white"/>
        <% } else { %>
          <button class="btn btn-primary" onclick="window.location.replace('/login')">Login With Discord</button>
        <% } %>
      </span>
    </div>
  </div>
</nav>